
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: white;
  }
  
  
  .category-header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,44,51,1) 100%, rgba(59,80,115,1) 100%, rgba(7,53,150,1) 100%, rgba(0,212,255,1) 100%);
    padding: 20px;
    text-align: center;
    height: 80px;
    width: auto;
    font-family: 'Perpetua Titling MT';
  }
  
  .category-header h1 {
    font-size: 32px;
    color: white;
  }
  
  .category-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    height: 700px;
    width: auto;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,44,51,1) 100%, rgba(59,80,115,1) 100%, rgba(7,53,150,1) 100%, rgba(0,212,255,1) 100%);
    flex-wrap: nowrap;
    overflow-x: auto;/* fallback for old browser*/
  }
  
  .car-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;  /* fallback for old browser*/
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-radius: 8px;
    height: 380px;
    width: 450px;
    text-align: center;
  }
  
  .car-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .car-item h3 {
    font-size: 22px;
    color: white;
    margin-top: 10px;
    font-family: 'Perpetua Titling MT';
  }
  
  
  .car-item:hover {
    transform: scale(1.13);
    transition: .7s;
  }
  
  .category-footer {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,44,51,1) 100%, rgba(59,80,115,1) 100%, rgba(7,53,150,1) 100%, rgba(0,212,255,1) 100%);
    padding: 20px;
    text-align: center;
    color: #ccc;
    font-family: 'Segoe UI';
  }
  
  @media (max-width: 1024px) {
    .category-section {
      flex-wrap: wrap; 
    }
  }
  
  @media (max-width: 768px) {
    .car-item {
      flex: 1 1 100%; 
    }
  }
  
  a {
    display: block;
    text-decoration: none; 
    color: inherit; 
}