body {
    font-family: 'Perpetua Titling MT';
    margin: 0;  /* multi-line comment */ 

    padding: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,44,51,1) 100%, rgba(59,80,115,1) 100%, rgba(7,53,150,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
}

header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,44,51,1) 100%, rgba(59,80,115,1) 100%, rgba(7,53,150,1) 100%, rgba(0,212,255,1) 100%);
    font-family: 'Perpetua Titling MT';
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}
h2{
    padding-bottom: 20px;
}

h3{
    font-weight: normal;
    padding-top: 10px;
    font-size: 20px;
}

section.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background: #bdc3c7;  /* fallback for old browser */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border: 1px solid #ddd;
    margin: 40px auto; 
    width: 70%; 
    height: 250px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
}

.category:hover{
    transform: scale(1.13);
    transition: .7s;
}

.category-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 50px;
}

.category-content {
    max-width: 500px; 
    color: black;
    font-family: 'Segoe UI';
    padding-left: 50px;
}


.category-content h2 {
    font-size: 28px;
    margin: 0 0 10px;
    font-family: 'Perpetua Titling MT';
}

.category-content p {
    line-height: 1.6;
}

@media (max-width: 768px) {
    section.category {
        flex-direction: column;
        height: auto;
        width: 90%; 
        text-align: center;
    }
    .category-image {
        margin: 0 0 20px 0;
    }
}

footer {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(45,44,51,1) 100%, rgba(59,80,115,1) 100%, rgba(7,53,150,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI';
    padding-top: 100px;
  }

  #link:link{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI';
  }
  #link:visited{
    color: white;
  }
  #link:hover{
    color:red;
  }

  a {
    display: block;
    text-decoration: none; 
    color: inherit; 
}